<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Preguntas</servlet-name>
        <servlet-class>escom.ipn.cm152013090237idp1.servlets.Preguntas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewQuestion</servlet-name>
        <servlet-class>ipn.escom.cm152013090237idp1.servlets.ViewQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestion</servlet-name>
        <servlet-class>ipn.escom.cm152013090237idp1.servlets.AddQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestion</servlet-name>
        <servlet-class>ipn.escom.cm152013090237idp1.servlets.EditQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestion</servlet-name>
        <servlet-class>ipn.escom.cm152013090237idp1.servlets.DeleteQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllQuestion</servlet-name>
        <servlet-class>ipn.escom.cm152013090237idp1.servlets.ViewAllQuestion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Preguntas</servlet-name>
        <url-pattern>/Preguntas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewQuestion</servlet-name>
        <url-pattern>/view/Question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestion</servlet-name>
        <url-pattern>/add/Question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestion</servlet-name>
        <url-pattern>/edit/Question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestion</servlet-name>
        <url-pattern>/delete/Question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllQuestion</servlet-name>
        <url-pattern>/view/all</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
